<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sportapp">

    <uses-feature android:name="eandroid.hardware.sensor.stepcounter" />
    <uses-feature android:name="eandroid.hardware.sensor.stepdetector" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".SportApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SportApp">
        <activity
            android:name=".UI.HistoryDetailTrainingActivity"
        />

        <activity android:name=".UI.HistoryDetailActivity">
            <nav-graph android:value="@navigation/navigation" />
        </activity>

        <service
            android:name=".Service.RunningTrackerService"
            android:enabled="true"
            android:exported="true" />

        <service android:name=".Service.CyclingTrackerService"
            android:foregroundServiceType="location" />

        <activity
            android:name=".UI.SchedulerAddActivity"
            android:label="Add new Schedule" />
        <activity android:name=".UI.SchedulerActivity" />
        <activity android:name=".UI.HistoryActivity" />
        <activity android:name=".UI.NewsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.NewsDetailActivity"
            android:parentActivityName=".UI.NewsActivity" />
        <activity android:name=".UI.TrainingTrackerActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>